.container {
  min-height: 140px;
  width: 75%;
  margin-top: 30px;
  background-color: pink;
}

.container p {
  font-size: 1.4rem;
}
@media(max-width: 600px){
  .container {
    margin-top: 5px;
    margin-bottom: 25px;
  }
}