.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 410px;
  width: 410px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #333;
}

.image {
  position: relative;
  object-fit: contain;
  border-radius: 10%;
}

.div1 {
  display: block;
  height: 43%;
  width: 100%;
  background: linear-gradient(#e4324c, #ff7360);
  margin-bottom: 6px;
}

.div2 {
  display: block;
  width: 100%;
  height: 3%;
  background: linear-gradient(#ff7a57, #ff7d50);
  margin-bottom: 8px;
}
.div3 {
  display: block;
  width: 100%;
  height: 4%;
  background: linear-gradient(#ff7a57, #ff7d50);
  margin-bottom: 10px;
}

.div4 {
  display: block;
  width: 100%;
  height: 7%;
  background: linear-gradient(#ff8639, #ff8a32);
  margin-bottom: 14px;
}
.div5 {
  display: block;
  width: 100%;
  height: 8%;
  background: linear-gradient(#ff8639, #ff8a32);
  margin-bottom: 16px;
}

.div6 {
  display: block;
  width: 100%;
  height: 90px;
  background: linear-gradient(#ff9121, #fc7223);
}

@media (max-width: 1165px) {
  .section {
    margin-top: 50px;
  }
}
@media (max-width: 705px) {
  .container {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 500px) {
  .section {
    margin-top: 100px;
  }
  .container {
    height: 280px;
    width: 280px;
  }
}
