.list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 10px;
}

.noresult {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  font-size: 1.5rem;
}

.noresult p {
  margin-left: 5px;
  margin-right: 5px;
}

.noresult div {
  display: flex;
}
