.item {
  min-height: 300px;
  width: 90%;
  max-width: 1050px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  border: solid 1px var(--light-grey);
  border-radius: 10px;
  color: grey;
  transition: all .4s ease;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0%{
    opacity: 0
  }

  100%{
    opacity: 1
  }
}

.image {
  height: 100%;
  position: relative;
  flex: 0 0 55%;
}

.left p {
  max-width: 300px;
  margin: 0;
}

.text {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 330px;
  align-self: center;
  padding: 20px;
}
@media (min-width: 500px) {
  .image {
    height: 180px;
  }
}

@media only screen and (max-width: 1075px){
  .item {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: max-content;
    padding: 10px;
  }
}

.text h1 {
  font-size: 2rem;
  cursor: pointer;
  margin: 0;
}
.text h1:hover {
  text-decoration: underline;
}

.skills {
  color: var(--skillblue);
}

.text ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 10px;
  max-width: 400px;
}

.btns {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 15px;
}

.learnMore {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 1px grey;
  width: max-content;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 5px 20px -15px rgba(0, 0, 0, .5)
}

.learnMore:hover{
  margin-left: 8px;
}
.learnMore span {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.learnMore:hover span{
  margin-left: 10px;
}
