.container {
  align-self: flex-start;
  margin-top: 61px;
  margin-left: 12.5%;
  position: absolute;
  min-height: 85px;
  width: 60%;
  background-color: var(--card-background);
  border: solid 1px var(--background);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  z-index: 2;
}

.item {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
  margin-bottom: 5px;
}

.item:hover {
  background-color: #d3d3d3;
}

.item img {
  width: 35px;
  height: 35px;
}

.item p {
  margin-left: 5px;
}
